<a href="https://colab.research.google.com/github/Matthew-Ilustre/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
a = 7
b =6

print(5>9)
print(5<9)
print(a>b)

False
True
True

bool() function

In [2]:
print(bool("Machew"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a Boolean

In [6]:
def my_Function():
  return False #def= Definition of object
print(my_Function())

False

In [7]:
if my_Function():
  print("True")
else:
  print("False")

False

Application 1

In [10]:
print(a==b)
print(a<b)

False
False

Python Operators

In [9]:
print(2+5)
print(2-5)
print(2/3)
print(2*5)
print(2%5) #Remainder
print(2//3)  #without decimal     
print(2**2) #Raise

7
-3
0.6666666666666666
10
2
0
4

Bitwise operators

In [11]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [12]:
h = True
l = False
h and l
h or l
not (h or l)

False

Identity Operators

In [17]:
h is l
h is not l

True

Application 2

Python Assignment Operators

In [15]:
x = 100
x+=11 # Same as x = x +3,  x = 100+3=103
print(x)

111

#Control Structure

If Statement

In [18]:
if a>b:
  print("a is greater than b")

a is greater than b

Elif Statement

In [19]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

Else Statement

In [20]:
a= 10
b =10

if a>b:
  print("a is greater than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand If Statement

In [21]:
if a==b: print("a is equal to b")

a is equal to b

Short Hand If...Else Statement

In [22]:
a = 10
b = 9
print("a is greater than b") if a>b else print('b is greater than a')

a is greater than b

And

In [23]:
if a>b and b==b:
  print("both conditions are True")

both conditions are True

Or

In [24]:
if a<b or b==b:
  print("the condition is True")

the condition is True

Nested If

In [43]:
x = int(input())

if x>10:
  print("x is above 10")
  if x>20:
   print("and also above 20")
   if x>30:
    print("and also above 30")
    if x>40:
      print("and also above 40")
      if x>50:
        print("and also above 50")
      else:
        print("but not above 50")

40
x is above 10
and also above 20
and also above 30

#Loop Statement

For Loop

In [44]:
week = ['Sunday',"Monday",'Tuesday', "Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [45]:
#to display Sunday to Wednesday using For loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

Sunday
Monday
Tuesday
Wednesday

In [46]:
#to display only Wednesday using break statement

for x in week:
  if x=="Wednesday":
    break
print(x)

Wednesday

While Statement

In [47]:
i =1
while i<6:
  print(i)
  i+=1   #same as i = i +1

1
2
3
4
5

Application 3 - Create a python program that displays no.3 using break statement

In [52]:
i =0
while i<6:
  i+=1

  if i==3: 
    break
  
print(i)

3